<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create a New Page</title>
    </head>
    <body>
        <h1>Create a New Page</h1>
        <form>
            <div>
                Enter a New Title:
                <input type="text" name="page_title" placeholder="Enter a New Title">
            </div>
            <div>
                <textarea id="textArea" name="textArea" rows="50" cols="100"></textarea>
            </div>
            <div>
                <button>Save</button>
            </div>
        </form>
    </body>
</html>